In [1]:
import pandas as pd

In [2]:
penduduk = pd.read_excel('Jumlah Penduduk Menurut Provinsi di Indonesia.xlsx')

In [3]:
penduduk.columns

Index(['Province', 'Jumlah Penduduk Menurut Provinsi di Indonesia (Ribu Jiwa)',
       'Unnamed: 2', 'Unnamed: 3'],
      dtype='object')

In [4]:
penduduk

,Province,Jumlah Penduduk Menurut Provinsi di Indonesia (Ribu Jiwa),Unnamed: 2,Unnamed: 3
0,NaN,2019.0,2020.0,2021.0
1,Aceh,5372.0,5275.0,5334.0
2,Sumatera Utara,14563.0,14799.0,14936.0
3,Sumatera Barat,5441.0,5534.0,5580.0
4,Riau,6972.0,6394.0,6494.0
5,Kepulauan Riau,2190.0,2065.0,2118.0
6,Jambi,3625.0,3548.0,3585.0
7,Sumatera Selatan,8471.0,8467.0,8551.0
8,Kepulauan Bangka Belitung,1489.0,1456.0,1473.0
9,Bengkulu,1992.0,2011.0,2033.0
10,Lampung,8448.0,9008.0,9082.0
11,DKI Jakarta,10558.0,10562.0,10610.0
12,Jawa Barat,49317.0,48274.0,48782.0
13,Banten,12927.0,11905.0,12061.0
14,Jawa Tengah,34718.0,36516.0,36743.0
15,Daerah Istimewa Yogyakarta,3843.0,3669.0,3713.0
16,Jawa Timur,39699.0,40666.0,40879.0
17,Kalimantan Barat,5069.0,5414.0,5471.0
18,Kalimantan Tengah,2715.0,2670.0,2702.0
19,Kalimantan Selatan,4244.0,4074.0,4123.0
20,Kalimantan Timur,3721.0,3766.0,3808.0
21,Kalimantan Utara,742.0,702.0,714.0
22,Sulawesi Utara,2507.0,2622.0,2639.0
23,Gorontalo,1203.0,1172.0,1181.0
24,Sulawesi Tengah,3054.0,2986.0,3022.0
25,Sulawesi Selatan,8851.0,9074.0,9140.0
26,Sulawesi Barat,1380.0,1419.0,1437.0
27,Sulawesi Tenggara,2705.0,2625.0,2659.0
28,Bali,4337.0,4317.0,4363.0
29,Nusa Tenggara Barat,5070.0,5320.0,5390.0
30,Nusa Tenggara Timur,5456.0,5326.0,5388.0
31,Maluku,1803.0,1849.0,1863.0
32,Maluku Utara,1256.0,1283.0,1299.0
33,Papua Barat,3379.0,1134.0,1157.0
34,Papua,960.0,4304.0,4355.0
35,Indonesia,268075.0,270204.0,2726825.0
36,NaN,NaN,NaN,NaN
37,Sumber : Publikasi Provinsi Sulawesi Utara Dal...,NaN,NaN,NaN
38,Source Url: https://sulut.bps.go.id/indicator/...,NaN,NaN,NaN
39,"Access Time: November 9, 2022, 9:24 pm",NaN,NaN,NaN

In [5]:
penduduk = penduduk.dropna()

In [6]:
penduduk = penduduk[:-1]

In [7]:
penduduk['2021'] = penduduk['Unnamed: 3']*1000

In [8]:
penduduk

,Province,Jumlah Penduduk Menurut Provinsi di Indonesia (Ribu Jiwa),Unnamed: 2,Unnamed: 3,2021
1,Aceh,5372.0,5275.0,5334.0,5334000.0
2,Sumatera Utara,14563.0,14799.0,14936.0,14936000.0
3,Sumatera Barat,5441.0,5534.0,5580.0,5580000.0
4,Riau,6972.0,6394.0,6494.0,6494000.0
5,Kepulauan Riau,2190.0,2065.0,2118.0,2118000.0
6,Jambi,3625.0,3548.0,3585.0,3585000.0
7,Sumatera Selatan,8471.0,8467.0,8551.0,8551000.0
8,Kepulauan Bangka Belitung,1489.0,1456.0,1473.0,1473000.0
9,Bengkulu,1992.0,2011.0,2033.0,2033000.0
10,Lampung,8448.0,9008.0,9082.0,9082000.0
11,DKI Jakarta,10558.0,10562.0,10610.0,10610000.0
12,Jawa Barat,49317.0,48274.0,48782.0,48782000.0
13,Banten,12927.0,11905.0,12061.0,12061000.0
14,Jawa Tengah,34718.0,36516.0,36743.0,36743000.0
15,Daerah Istimewa Yogyakarta,3843.0,3669.0,3713.0,3713000.0
16,Jawa Timur,39699.0,40666.0,40879.0,40879000.0
17,Kalimantan Barat,5069.0,5414.0,5471.0,5471000.0
18,Kalimantan Tengah,2715.0,2670.0,2702.0,2702000.0
19,Kalimantan Selatan,4244.0,4074.0,4123.0,4123000.0
20,Kalimantan Timur,3721.0,3766.0,3808.0,3808000.0
21,Kalimantan Utara,742.0,702.0,714.0,714000.0
22,Sulawesi Utara,2507.0,2622.0,2639.0,2639000.0
23,Gorontalo,1203.0,1172.0,1181.0,1181000.0
24,Sulawesi Tengah,3054.0,2986.0,3022.0,3022000.0
25,Sulawesi Selatan,8851.0,9074.0,9140.0,9140000.0
26,Sulawesi Barat,1380.0,1419.0,1437.0,1437000.0
27,Sulawesi Tenggara,2705.0,2625.0,2659.0,2659000.0
28,Bali,4337.0,4317.0,4363.0,4363000.0
29,Nusa Tenggara Barat,5070.0,5320.0,5390.0,5390000.0
30,Nusa Tenggara Timur,5456.0,5326.0,5388.0,5388000.0
31,Maluku,1803.0,1849.0,1863.0,1863000.0
32,Maluku Utara,1256.0,1283.0,1299.0,1299000.0
33,Papua Barat,3379.0,1134.0,1157.0,1157000.0
34,Papua,960.0,4304.0,4355.0,4355000.0

In [9]:
covid = pd.read_csv('covid_19_indonesia_time_series_all (clean).csv')

In [10]:
covid_new = pd.merge(covid, penduduk, on=['Province'])
covid_new

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Longitude,Latitude,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Jumlah Penduduk Menurut Provinsi di Indonesia (Ribu Jiwa),Unnamed: 2,Unnamed: 3,2021
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,106.836118,-6.204699,51.28%,192.31%,NaN,NaN,10558.0,10562.0,10610.0,10610000.0
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,106.836118,-6.204699,48.78%,182.93%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0
2,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,106.836118,-6.204699,46.51%,174.42%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0
3,3/4/2020,ID-JK,DKI Jakarta,2,0,0,2,45,20,75,...,106.836118,-6.204699,44.44%,166.67%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0
4,3/5/2020,ID-JK,DKI Jakarta,0,1,0,-1,45,21,75,...,106.836118,-6.204699,46.67%,166.67%,0.0,NaN,10558.0,10562.0,10610.0,10610000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30888,9/10/2022,ID-GO,Gorontalo,0,0,0,0,13950,487,13433,...,122.376058,0.687003,3.49%,96.29%,0.0,1.0,1203.0,1172.0,1181.0,1181000.0
30889,9/11/2022,ID-GO,Gorontalo,0,0,0,0,13950,487,13433,...,122.376058,0.687003,3.49%,96.29%,1.0,1.0,1203.0,1172.0,1181.0,1181000.0
30890,9/12/2022,ID-GO,Gorontalo,0,0,0,0,13950,487,13433,...,122.376058,0.687003,3.49%,96.29%,1.0,1.0,1203.0,1172.0,1181.0,1181000.0
30891,9/13/2022,ID-GO,Gorontalo,0,0,0,0,13950,487,13433,...,122.376058,0.687003,3.49%,96.29%,1.0,1.0,1203.0,1172.0,1181.0,1181000.0
30892,9/14/2022,ID-GO,Gorontalo,1,0,0,1,13951,487,13433,...,122.376058,0.687003,3.49%,96.29%,NaN,1.0,1203.0,1172.0,1181.0,1181000.0

In [11]:
covid_new['Mortality Rate'] = covid_new['Total Deaths'] / covid_new['2021'] * 1000
covid_new

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Jumlah Penduduk Menurut Provinsi di Indonesia (Ribu Jiwa),Unnamed: 2,Unnamed: 3,2021,Mortality Rate
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,-6.204699,51.28%,192.31%,NaN,NaN,10558.0,10562.0,10610.0,10610000.0,0.001885
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,-6.204699,48.78%,182.93%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885
2,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,-6.204699,46.51%,174.42%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885
3,3/4/2020,ID-JK,DKI Jakarta,2,0,0,2,45,20,75,...,-6.204699,44.44%,166.67%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885
4,3/5/2020,ID-JK,DKI Jakarta,0,1,0,-1,45,21,75,...,-6.204699,46.67%,166.67%,0.0,NaN,10558.0,10562.0,10610.0,10610000.0,0.001979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30888,9/10/2022,ID-GO,Gorontalo,0,0,0,0,13950,487,13433,...,0.687003,3.49%,96.29%,0.0,1.0,1203.0,1172.0,1181.0,1181000.0,0.412362
30889,9/11/2022,ID-GO,Gorontalo,0,0,0,0,13950,487,13433,...,0.687003,3.49%,96.29%,1.0,1.0,1203.0,1172.0,1181.0,1181000.0,0.412362
30890,9/12/2022,ID-GO,Gorontalo,0,0,0,0,13950,487,13433,...,0.687003,3.49%,96.29%,1.0,1.0,1203.0,1172.0,1181.0,1181000.0,0.412362
30891,9/13/2022,ID-GO,Gorontalo,0,0,0,0,13950,487,13433,...,0.687003,3.49%,96.29%,1.0,1.0,1203.0,1172.0,1181.0,1181000.0,0.412362
30892,9/14/2022,ID-GO,Gorontalo,1,0,0,1,13951,487,13433,...,0.687003,3.49%,96.29%,NaN,1.0,1203.0,1172.0,1181.0,1181000.0,0.412362

In [12]:
covid_new['Date'] = pd.to_datetime(covid_new['Date'])

In [13]:
covid_new['Date'].head()

0   2020-03-01
1   2020-03-02
2   2020-03-03
3   2020-03-04
4   2020-03-05
Name: Date, dtype: datetime64[ns]

In [14]:
covid_new[covid_new['Province'] == 'Sulawesi Tenggara'].Date.min()

Timestamp('2020-03-10 00:00:00')

In [15]:
list_date_awal = []
province = []
for i in covid_new['Province'].unique():
    province.append(i)
    list_date_awal.append(covid_new[covid_new['Province'] == i].Date.min())

data = {'Province' : province, 'Start Date' : list_date_awal}
df_date_awal = pd.DataFrame(data)
df_date_awal

                      Province Start Date
0                  DKI Jakarta 2020-03-01
1                         Riau 2020-03-02
2                   Jawa Barat 2020-03-03
3                       Banten 2020-03-06
4                  Jawa Tengah 2020-03-08
5            Sulawesi Tenggara 2020-03-10
6                         Bali 2020-03-11
7             Kalimantan Timur 2020-03-14
8   Daerah Istimewa Yogyakarta 2020-03-16
9               Sumatera Utara 2020-03-17
10                  Jawa Timur 2020-03-18
11              Kepulauan Riau 2020-03-19
12            Sulawesi Selatan 2020-03-19
13                       Jambi 2020-03-20
14                      Maluku 2020-03-22
15                       Papua 2020-03-22
16                Maluku Utara 2020-03-23
17            Sumatera Selatan 2020-03-23
18                        Aceh 2020-03-26
19           Kalimantan Tengah 2020-03-26
20                     Lampung 2020-03-26
21             Sulawesi Tengah 2020-03-26
22              Sulawesi Utara 2020-03-26
23              Sumatera Barat 2020-03-26
24                 Papua Barat 2020-03-27
25            Kalimantan Utara 2020-03-28
26              Sulawesi Barat 2020-03-28
27            Kalimantan Barat 2020-03-29
28          Kalimantan Selatan 2020-03-30
29   Kepulauan Bangka Belitung 2020-03-30
30                    Bengkulu 2020-03-31
31         Nusa Tenggara Barat 2020-03-31
32         Nusa Tenggara Timur 2020-04-09
33                   Gorontalo 2020-04-10

In [16]:
covid_new = pd.merge(covid_new, df_date_awal, on=['Province'])
covid_new.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Jumlah Penduduk Menurut Provinsi di Indonesia (Ribu Jiwa),Unnamed: 2,Unnamed: 3,2021,Mortality Rate,Start Date
0,2020-03-01,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,51.28%,192.31%,NaN,NaN,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01
1,2020-03-02,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,48.78%,182.93%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01
2,2020-03-03,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,46.51%,174.42%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01
3,2020-03-04,ID-JK,DKI Jakarta,2,0,0,2,45,20,75,...,44.44%,166.67%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01
4,2020-03-05,ID-JK,DKI Jakarta,0,1,0,-1,45,21,75,...,46.67%,166.67%,0.0,NaN,10558.0,10562.0,10610.0,10610000.0,0.001979,2020-03-01

In [17]:
covid_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30893 entries, 0 to 30892
Data columns (total 29 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Date                                                       30893 non-null  datetime64[ns]
 1   Location ISO Code                                          30893 non-null  object
 2   Location                                                   30893 non-null  object
 3   New Cases                                                  30893 non-null  int64
 4   New Deaths                                                 30893 non-null  int64
 5   New Recovered                                              30893 non-null  int64
 6   New Active Cases                                           30893 non-null  int64
 7   Total Cases                                                30893 non-null  int64
 8   Total Deaths                                               30893 non-null  int64
 9   Total Recovered                                            30893 non-null  int64
 10  Total Active Cases                                         30893 non-null  int64
 11  Location Level                                             30893 non-null  object
 12  Province                                                   30893 non-null  object
 13  Country                                                    30893 non-null  object
 14  Island                                                     30893 non-null  object
 15  Area (km2)                                                 30893 non-null  int64
 16  Population                                                 30893 non-null  int64
 17  Longitude                                                  30893 non-null  float64
 18  Latitude                                                   30893 non-null  float64
 19  Case Fatality Rate                                         30893 non-null  object
 20  Case Recovered Rate                                        30893 non-null  object
 21  Growth Factor of New Cases                                 28958 non-null  float64
 22  Growth Factor of New Deaths                                27451 non-null  float64
 23  Jumlah Penduduk Menurut Provinsi di Indonesia (Ribu Jiwa)  30893 non-null  float64
 24  Unnamed: 2                                                 30893 non-null  float64
 25  Unnamed: 3                                                 30893 non-null  float64
 26  2021                                                       30893 non-null  float64
 27  Mortality Rate                                             30893 non-null  float64
 28  Start Date                                                 30893 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(9), int64(10), object(8)
memory usage: 7.1+ MB

In [18]:
covid_new['Total Days'] = (covid_new['Date'] - covid_new['Start Date']).dt.days
covid_new.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Jumlah Penduduk Menurut Provinsi di Indonesia (Ribu Jiwa),Unnamed: 2,Unnamed: 3,2021,Mortality Rate,Start Date,Total Days
0,2020-03-01,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,192.31%,NaN,NaN,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01,0
1,2020-03-02,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,182.93%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01,1
2,2020-03-03,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,174.42%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01,2
3,2020-03-04,ID-JK,DKI Jakarta,2,0,0,2,45,20,75,...,166.67%,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01,3
4,2020-03-05,ID-JK,DKI Jakarta,0,1,0,-1,45,21,75,...,166.67%,0.0,NaN,10558.0,10562.0,10610.0,10610000.0,0.001979,2020-03-01,4

In [19]:
covid_new['Mortality Rate Speed'] = covid_new['Mortality Rate'] / covid_new['Total Days']
covid_new.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Growth Factor of New Cases,Growth Factor of New Deaths,Jumlah Penduduk Menurut Provinsi di Indonesia (Ribu Jiwa),Unnamed: 2,Unnamed: 3,2021,Mortality Rate,Start Date,Total Days,Mortality Rate Speed
0,2020-03-01,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,NaN,NaN,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01,0,inf
1,2020-03-02,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01,1,0.001885
2,2020-03-03,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01,2,0.000943
3,2020-03-04,ID-JK,DKI Jakarta,2,0,0,2,45,20,75,...,1.0,1.0,10558.0,10562.0,10610.0,10610000.0,0.001885,2020-03-01,3,0.000628
4,2020-03-05,ID-JK,DKI Jakarta,0,1,0,-1,45,21,75,...,0.0,NaN,10558.0,10562.0,10610.0,10610000.0,0.001979,2020-03-01,4,0.000495

In [20]:
covid_new = covid_new[covid_new['Total Days'] != 0]

In [22]:
province = []
mortality_rate_speed_mean = []

for i in covid_new['Province'].unique():
    province.append(i)
    mortality_rate_speed_mean.append(covid_new['Mortality Rate Speed'][covid_new['Province'] == i].mean())
    
data = {'Province' : province, 'Mortality Rate Speed Mean' : mortality_rate_speed_mean}
mr_speed_mean = pd.DataFrame(data)
mr_speed_mean = mr_speed_mean.sort_values(['Mortality Rate Speed Mean'], ascending=False)
mr_speed_mean.head()

                      Province  Mortality Rate Speed Mean
0                  DKI Jakarta                   0.001391
7             Kalimantan Timur                   0.001239
8   Daerah Istimewa Yogyakarta                   0.001130
25            Kalimantan Utara                   0.000905
6                         Bali                   0.000802

In [23]:
mr_speed_mean.to_excel("Mortality Rate Speed (Rata-Rata).xlsx")

In [24]:
covid_fix = pd.merge()

TypeError: merge() missing 2 required positional arguments: 'left' and 'right'